version: '3.8'

services:
  db:
    image: postgres:16
    container_name: my_postgres_db
    environment:
      POSTGRES_DB: knowledge_vault
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: